<div class="row" ng-controller="ClienteCtrl as cliente">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Cliente</h3>
            </div>

            <div class="panel-body">
                <uib-tabset active="activeTabClient">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th style="width: 120px">C&oacute;digo</th>
                                        <th>Nome</th>
                                        <th style="width: 100px">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control input-xs"
                                                   ng-model="cliente.paramConsulta.code"
                                                   id="loteIni" name="loteIni">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control input-xs"
                                                   ng-model="cliente.paramConsulta.desc"
                                                   id="loteFim" name="loteFim">
                                        </td>
                                        <td>
                                            <button id="btnSearch" type="button" ng-click="cliente.searchCliente()"
                                                    class="btn btn-primary">Pesquisar
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Resultado da pesquisa
                            </div>

                            <div class="panel-footer text-center">
                                <ul uib-pagination total-items="cliente.itens.length"
                                    ng-model="cliente.currentPage"
                                    max-size="15" class="pagination-sm" items-per-page="15"></ul>
                            </div>
                        </div>

                    </uib-tab>
                    <uib-tab index="1" heading="Cadastro e manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="form-group col-md-2 col-sm-6">
                                            <label for="codigo">Código da cliente</label>
                                            <input type="text" class="form-control input-sm"
                                                   placeholder="Código da cliente"
                                                   ng-model="cliente.itemSelecionado.codigo"
                                                   id="codigo" nome="codigo">
                                        </div>
                                        <div class="form-group col-md-4 col-sm-6">
                                            <label for="cnpjCpf">CPF</label>
                                            <input type="text" class="form-control input-sm" placeholder="CPF"
                                                   ng-model="cliente.itemSelecionado.cnpjCpf"
                                                   id="cnpjCpf" nome="cnpjCpf">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <label for="nome">Nome</label>
                                            <input type="text" class="form-control input-sm"
                                                   placeholder="Nome da Filial"
                                                   ng-model="cliente.itemSelecionado.nome"
                                                   id="nome" nome="nome">
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 ">
                                            <label for="cep">CEP</label>
                                            <input type="text" class="form-control input-sm" placeholder="CEP"
                                                   ng-model="cliente.itemSelecionado.cep"
                                                   id="cep" nome="cep">
                                        </div>
                                        <div class="form-group col-md-1 col-sm-12">
                                            <label for="uf">UF</label>
                                            <select class="form-control input-sm" name="uf" id="uf"
                                                    ng-model="cliente.itemSelecionado.uf"
                                                    ng-options="uf for uf in cliente.paramDefault.ufs">
                                                <option value="">UF</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 ">
                                            <label for="municipio">Municipio</label>
                                            <input type="text" class="form-control input-sm" placeholder="Municipio"
                                                   ng-model="cliente.itemSelecionado.municipio"
                                                   id="municipio" nome="municipio">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 ">
                                            <label for="codigoMunicipio">Codigo Municipio</label>
                                            <input type="text" class="form-control input-sm"
                                                   placeholder="Código Municipio"
                                                   ng-model="cliente.itemSelecionado.codigoMunicipio"
                                                   id="codigoMunicipio" nome="codigoMunicipio">
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 ">
                                            <label for="bairro">Bairro</label>
                                            <input type="text" class="form-control input-sm" placeholder="Bairro"
                                                   ng-model="cliente.itemSelecionado.bairro"
                                                   id="bairro" nome="bairro">
                                        </div>
                                        <div class="form-group col-md-4 col-sm-6 ">
                                            <label for="logradouro">Logradouro</label>
                                            <input type="text" class="form-control input-sm" placeholder="Logradouro"
                                                   ng-model="cliente.itemSelecionado.logradouro"
                                                   id="logradouro" nome="logradouro">
                                        </div>
                                        <div class="form-group col-md-2 col-sm-6 ">
                                            <label for="numero">Numero</label>
                                            <input type="text" class="form-control input-sm" placeholder="Numero"
                                                   ng-model="cliente.itemSelecionado.numero"
                                                   id="numero" nome="numero">
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 ">
                                            <label for="complemento">Complemento</label>
                                            <input type="text" class="form-control input-sm" placeholder="Complemento"
                                                   ng-model="cliente.itemSelecionado.complemento"
                                                   id="complemento" nome="complemento">
                                        </div>
                                        <div class="form-group col-md-3 col-sm-6 ">
                                            <label for="telefone">Telefone</label>
                                            <input type="text" class="form-control input-sm" placeholder="telefone"
                                                   ng-model="cliente.itemSelecionado.telefone"
                                                   id="telefone" nome="telefone">
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="cliente.clear()" class="btn btn-warning">Cancelar
                                </button>
                                <button type="button" ng-click="cliente.save()" class="btn btn-primary">Salvar
                                </button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>
        </div>
    </div>


</div>



