<div class="row" ng-controller="ProdutoCtrl as produto">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Produto</h3>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeTabProduto">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form id="frmFiltro" name="frmFiltro">

                                    <div class="form-group col-md-3 col-sm-6">
                                        <label for="loteIni">C&oacute;digo produto</label>
                                        <input type="text" class="form-control input-sm" ng-model="produto.paramConsulta.code"
                                               id="loteIni" name="loteIni">
                                    </div>
                                    <div class="form-group col-md-9 col-sm-6">
                                        <label for="loteFim">Descri&ccedil;&atilde;o do produto</label>
                                        <input type="text" class="form-control input-sm" ng-model="produto.paramConsulta.desc"
                                               id="loteFim" name="loteFim">
                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="produto.searchProduto()" class="btn btn-primary">Consultar</button>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Codigo</th>
                                            <th>Ean do Produto</th>
                                            <th>Descri&ccedil;&atilde;o</th>
                                            <th>Categoria</th>
                                            <th>Peso</th>
                                            <th>Largura</th>
                                            <th>Altura</th>
                                            <th>Comprimento</th>
                                            <th>Status Integra&ccedil;&atilde;o</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="itm in produto.itens">
                                            <td>{{itm.id}}</td>
                                            <td>{{itm.codigo}}</td>
                                            <td>{{itm.ean}}</td>
                                            <td>{{itm.descricao}}</td>
                                            <td>{{itm.categoria.id}}</td>
                                            <td>{{itm.peso}}</td>
                                            <td>{{itm.largura}}</td>
                                            <td>{{itm.altura}}</td>
                                            <td>{{itm.comprimento}}</td>
                                            <td>{{itm.statusIntegracao}}</td>
                                            <td>
                                                <button class="btn btn-warning btn-sm" ng-click="produto.select(itm)"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger btn-sm" ng-click="produto.askDelete(itm)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="codigoProduto">C&oacute;digo da produto</label>
                                    <input type="text" class="form-control input-sm" placeholder="Codigo do produto" ng-model="produto.itemSelecionado.codigo"
                                           id="codigoProduto" name="codigoProduto">
                                </div>

                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="nomeCategoria">Ean do Produto</label>
                                    <input type="text" class="form-control input-sm" placeholder="Nome do produto" ng-model="produto.itemSelecionado.ean"
                                           id="nomeCategoria" name="nomeCategoria">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="nomeCategoria">Descri&ccedil;&atilde;o do Produto</label>
                                    <input type="text" class="form-control input-sm" placeholder="Descri&ccedil;&atilde;o" ng-model="produto.itemSelecionado.descricao"
                                           id="descricao" name="descricao">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="nomeCategoria">Categoria</label>
                                    <input type="text" class="form-control input-sm" placeholder="Categoria" ng-model="produto.itemSelecionado.categoria.descricao"
                                           id="categoria" name="categoria">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="peso">Peso</label>
                                    <input type="text" class="form-control input-sm" placeholder="Peso" ng-model="produto.itemSelecionado.peso"
                                           id="peso" name="peso">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="largura">Largura</label>
                                    <input type="text" class="form-control input-sm" placeholder="Largura" ng-model="produto.itemSelecionado.largura"
                                           id="largura" name="largura">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="altura">Altura</label>
                                    <input type="text" class="form-control input-sm" placeholder="Altura" ng-model="produto.itemSelecionado.altura"
                                           id="altura" name="altura">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="comprimento">Comprimento</label>
                                    <input type="text" class="form-control input-sm" placeholder="Comprimento" ng-model="produto.itemSelecionado.comprimento"
                                           id="comprimento" name="comprimento">
                                </div>
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="statusIntegracao">Status Integra&ccedil;&atilde;o</label>
                                    <input type="text" class="form-control input-sm disabled" disabled placeholder="Status Integra&ccedil;&atilde;o" ng-model="produto.itemSelecionado.statusIntegracao"
                                           id="statusIntegracao" name="statusIntegracao">
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="produto.clear()" class="btn btn-warning">Cancelar</button>
                                <button type="button" ng-click="produto.save()" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>