<div class = "row" ng-controller="ErroWebVendaCtrl as $ctrl" ng-init="$ctrl.init()" >

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Filiais</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Data</th>
                            <th>Notifica&ccedil;&atilde;o</th>
                            <th>Opera&ccedil;&atilde;o</th>
                            <th>Url</th>
                            <th>a&ccedil;&atilde;o</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in $ctrl.itens.slice(($ctrl.currentPage - 1) * 25, $ctrl.currentPage * 25)">
                            <td>{{itm.id}}</td>
                            <td>{{itm.dataCadastro| date : "dd/MM/yyyy HH:ss:mm"}}</td>
                            <td>{{itm.erro}}</td>
                            <td>{{itm.operacao}}</td>
                            <td>{{itm.url}}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" ng-click="$ctrl.download(itm.dataSend)"><i class="fa fa-download"></i><i class="fa fa-arrow-down"></i></button>
                                <button class="btn btn-danger btn-sm" ng-click="$ctrl.download (itm.dataReturn)"><i class="fa fa-download"></i><i class="fa fa-arrow-up"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <ul uib-pagination total-items="$crlt.itens.length" ng-model="$crlt.currentPage" max-size="15" class="pagination-sm" items-per-page="25"></ul>
            </div>
        </div>
    </div>

</div>



