

<div class="row">
    <div class="col-md-12">

        <div class="modal-dialog" style="margin-bottom:0" ng-controller="LoginCtrl as ctrl">
            <div class="modal-content">
                <div class="panel-heading">
                    <h3 class="panel-title">Autenticação</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Login" name="login"  ng-model="ctrl.user.username" type="text" autofocus="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Senha" ng-keypress="($event.which === 13)?ctrl.signIn(ctrl.user):0" name="password" ng-model="ctrl.user.password" type="password" value="">
                            </div>
                            <!--                            <div class="checkbox">
                                                            <label>
                                                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                                            </label>
                                                        </div>-->
                            <!-- Change this to a button or input when using this as a form -->
                            <a href="javascript:;" class="btn btn-sm btn-success" ng-click="ctrl.signIn(ctrl.user)">Acessar.</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>