<div class="row" ng-controller="PedidoCtrl as $ctrl"  ng-init="$ctrl.detalhePedido()" >
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Pedido</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span>C&oacute;digo interno</span><span class="col-md-6 pull-right text-right">{{$ctrl.item.id}}</span></li>
                <li class="list-group-item"><span>C&oacute;digo Ecomemrce</span><span class="col-md-6 pull-right text-right">{{$ctrl.item.codigoPedido}}</span></li>
                <li class="list-group-item"><span>C&oacute;digo ERP</span><span class="col-md-6 pull-right text-right">{{$ctrl.item.pedidoVincErp.codigoErp}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Valores</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span>Valor produtos</span><span class="col-md-6 pull-right text-right">{{$ctrl.item.valorTotalProdutos|currency:'':2}}</span></li>
                <li class="list-group-item"><span>Valor frete</span><span class="col-md-6 pull-right text-right">{{$ctrl.item.valorFrete|currency:'':2}}</span></li>
                <li class="list-group-item"><span>Valor pedido</span><span class="col-md-6 pull-right text-right">{{$ctrl.item.valorTotalPedido|currency:'':2}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Cliente</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span>Nome</span><span class="col-md-10 pull-right">{{$ctrl.item.cliente.nome}}</span></li>
                <li class="list-group-item"><span>CPF-CNPJ</span><span class="col-md-10 pull-right">{{$ctrl.item.cliente.cnpjCpf}}</span></li>
                <li class="list-group-item"><span>Telefone</span><span class="col-md-10 pull-right">{{$ctrl.item.cliente.telefone}}</span></li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Endereco cliente</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span>Logradouro</span><span class="col-md-10 pull-right">{{$ctrl.item.cliente.logradouro}}, {{$ctrl.item.cliente.numero}}, {{$ctrl.item.cliente.complemento}}</span></li>
                <li class="list-group-item"><span>Bairro</span><span class="col-md-10 pull-right">{{$ctrl.item.cliente.bairro}} - {{$ctrl.item.cliente.cep}}</span></li>
                <li class="list-group-item"><span>Cidade</span><span class="col-md-10 pull-right">{{$ctrl.item.cliente.municipio}} - {{$ctrl.item.cliente.uf}}</span></li>
            </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Endereco entrega</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span>Logradouro</span><span class="col-md-10 pull-right">{{$ctrl.item.pedidoEntrega.logradouro}}, {{$ctrl.item.pedidoEntrega.numero}}, {{$ctrl.item.pedidoEntrega.complemento}}</span></li>
                <li class="list-group-item"><span>Bairro</span><span class="col-md-10 pull-right">{{$ctrl.item.pedidoEntrega.bairro}} - {{$ctrl.item.pedidoEntrega.cep}}</span></li>
                <li class="list-group-item"><span>Cidade</span><span class="col-md-10 pull-right">{{$ctrl.item.pedidoEntrega.municipio}} - {{$ctrl.item.pedidoEntrega.uf}}</span></li>
            </ul>

        </div>
    </div>


    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Forma de pagamento</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed" >
                    <thead>
                        <tr>
                            <th style="width: 250px">Tipo</th>
                            <th style="width: 250px">Parcelas</th>
                            <th style="width: 60px" class="text-right">Valor</th>
                            <th>Autoriza&ccedil;&atilde;o</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="itm in $ctrl.item.pedidoPagamentos">

                            <td>{{itm.tipo}}</td>
                            <td>{{itm.parcelas}}</td>
                            <td class="text-right">{{itm.valor|currency:'':2}}</td>
                            <td class="text-right">{{itm.autorizacao}}</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Status</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed" >
                    <thead>
                        <tr>
                            <th style="width: 180px">Data</th>
                            <th style="width: 150px">Status</th>
                            <th>Observa&ccedil;&atilde;o</th>
                            <th style="width: 170px">Status Integra&ccedil;&atilde;o</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in $ctrl.item.pedidoRastreamento | orderBy : 'dataCadastro': 'desc'">
                            <td>{{itm.dataCadastro| date : "dd/MM/yyyy HH:ss:mm"}}</td>
                            <td>{{itm.codigo}}</td>
                            <td>{{itm.observacao| limitTo : 50}}</td>
                            <td>{{itm.statusIntegracao}}</td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Produtos</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed" >
                    <thead>
                        <tr>
                            <th style="width: 100px">Ean</th>
                            <th>Descri&ccedil;&atilde;o</th>
                            <th style="width: 120px" class="text-right">Qtde</th>
                            <th style="width: 120px" class="text-right">Vr Unit</th>
                            <th style="width: 120px" class="text-right">Desconto</th>
                            <th style="width: 120px" class="text-right">Vr Liq</th>
                            <th style="width: 120px" class="text-right">Total Liquido</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="itm in $ctrl.item.pedidoProdutos">

                            <td>{{itm.produto.ean}}</td>
                            <td>{{itm.produto.descricao|limitTo:50}}</td>
                            <td class="text-right">{{itm.quantidade}}</td>
                            <td class="text-right">{{itm.valorUnitario|currency:'':2}}</td>
                            <td class="text-right">{{itm.valorDesconto/itm.quantidade|currency:'':2}}</td>
                            <td class="text-right">{{itm.valorLiquido|currency:'':2}}</td>
                            <td class="text-right">{{itm.valorTotal|currency:'':2}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr >
                            <td colspan="7" class="text-right">{{$ctrl.item.pedidoProdutos | filterSoma:'valorTotal' | currency:'':2}}</td>
                        </tr>
                    </tfoot>
                    
                </table>

            </div>
            
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Processos</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><span>Venda no ecommerce</span><span class="col-md-6 pull-right">{{$ctrl.item.dataCompra| date : "dd/MM/yyyy HH:ss:mm"}}</span></li>
                <li class="list-group-item"><span>Recebido integrador</span><span class="col-md-6 pull-right">{{$ctrl.item.dataCadastro| date : "dd/MM/yyyy HH:ss:mm"}}</span></li>
                <li class="list-group-item"><span>Enviado ERP</span><span class="col-md-6 pull-right">{{$ctrl.item.pedidoVincErp.dataCadastro| date : "dd/MM/yyyy HH:ss:mm"}}</span></li>
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Messagens</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item text-warning" ng-repeat="itm in $ctrl.item.notificacoes"  >
                    <span>{{itm.dataCadastro| date : "dd/MM/yyyy HH:ss:mm"}}</span><span class="col-md-10 pull-right">{{itm.tipoMessage}}-{{itm.message}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
