<div class = "row" ng-controller="PedidoCtrl as pedido" >

    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pesquisa de pedidos</h3>
                <span class="pull-right clickable panel-collapsed"><i class="fa fa-chevron-down"></i></span>
            </div>
            <div class="panel-body" style="display: none">
                <form id="frmFiltro" name="frmFiltro">

                    <div class="form-group col-md-3 col-sm-4">
                        <label for="loteIni">C&oacute;digo pedido e-commerce</label>
                        <input type="text" class="form-control input-sm" ng-model="pedido.paramConsulta.code"
                               id="loteIni" name="loteIni">
                    </div>
                    <div class="form-group col-md-3 col-sm-4">
                        <label for="loteFim">Data venda</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                            <input type="text" class="form-control input-sm" ng-model="pedido.paramConsulta.data"
                                   id="loteFim" name="loteFim">
                        </datepicker>

                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <button type="button" ng-click="pedido.searchPedido()" class="btn btn-primary">Consultar</button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pedidos encontrados</h3>
                
                <span class="pull-right"><button class="btn btn-xs btn-default" ng-click="pedido.openPainelConsulta()"><i class="fa fa-search"></i> Abrir painel de consulta</button></span>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 80px" class="text-right" >ID</th>
                            <th>CLiente</th>
                            <th style="width: 180px" class="text-center">Data da compra</th>
                            <th style="width: 85px" class="text-right">Qtd. itens</th>
                            <th style="width: 150px" class="text-right">Valor produtos</th>
                            <th style="width: 150px" class="text-right">Valor descontos</th>
                            <th style="width: 150px" class="text-right">Valor frete</th>
                            <th style="width: 150px" class="text-right">Valor pedido</th>
                            <th style="width: 180px" class="text-center">Status ERP</th>
                            <th style="width: 80px">Visualizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in pedido.itens.slice((pedido.currentPage - 1) * 25, pedido.currentPage * 25)">
                            <td class="text-right">{{itm.codigoPedido}}</td>
                            <td>{{itm.cliente.nome}}</td>
                            <td class="text-center">{{itm.dataCompra| date : "dd/MM/yyyy HH:ss:mm"}}</td>
                            <td class="text-right">{{itm.quantidadeItens}}</td>
                            <td class="text-right">{{itm.valorTotalProdutos|currency:'':2}}</td>
                            <td class="text-right">{{itm.valorTotalDescontos|currency:'':2}}</td>
                            <td class="text-right">{{itm.valorFrete|currency:'':2}}</td>
                            <td class="text-right">{{itm.valorTotalPedido|currency:'':2}}</td>
                            <td class="text-center">{{itm.statusErpIntegrado}}</td>
                            <td class="text-center">

                                <button title="Re-integrar pedido, isto deleta o pedido improtado e notifica o ecommerce que não foi possível integrar" class="btn btn-xs btn-danger" ng-click="pedido.reIntegrarPedidoEcommerce(itm)" ng-show="(itm.statusErpIntegrado === 'ERRO')" ><i class="fa fa-remove"></i></button>
                                <a ui-sref="pedido-detalhe({id:itm.id})" title="Visualizar" class="btn btn-xs btn-info" ><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <ul uib-pagination total-items="pedido.itens.length" ng-model="pedido.currentPage" max-size="15" class="pagination-sm" items-per-page="25"></ul>
                <ul class="text-left">
                    <li class="text-info"><i class="fa fa-eye"></i> Visualizar detalhes do pedido</li>
                    <li class="text-danger"><i class="fa fa-remove"></i> Remove pedido do integrador e notifica ecommerce de que pedido não foi integrado</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="teste.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Lista de produto</h3>
        </div>
        <div class="modal-body" id="modal-body">
             <form role="form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="pedidoNomeSearch" class="label-left">C&oacute;digo pedido e-commerce</label>
                            <input id="pedidoNomeSearch" type="text" class="form-control disabled" name="pedidoNomeSearch" ng-model="$ctrl.paramConsulta.code">        
                        </div>
                    </div>
                     <div class="form-group col-md-4 col-sm-4">
                        <label for="pedidoDataSearch">Data venda</label>
                        <datepicker date-format="dd/MM/yyyy" selector="form-control">
                            <input type="text" class="form-control input-sm" ng-model="$ctrl.paramConsulta.data"
                                   id="pedidoDataSearch" name="pedidoDataSearch">
                        </datepicker>

                    </div>
                    <div class="col-md-2">
                    <label>&nbsp;</label>
                        <button ng-click="$ctrl.pesquisar()" class="btn btn-warning btn-block">
                            <i class="fa fa-btn fa-check"></i> Consultar
                        </button>
                    </div>
                </div>
             
             </form>
             <table class="table">
                <thead>
                    <tr>
                        <th>Check All <input type="checkbox" ng-model="$ctrl.selectedAll" ng-click="$ctrl.checkAll()" /></th>
                        <th width="200">Codigo Pedido</th>
                        <th>Nome</th>
                        <th>Data Compra</th>
                        <th width="200">Status integracao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itm in $ctrl.items">
                        <td><input type="checkbox" ng-model="itm.selected" /></td>
                        <td>{{itm.itm.codigoPedido}}</td>
                        <td>{{itm.itm.cliente.nome}}</td>
                        <td>{{itm.itm.dataCompra}}</td>
                        <td class="text-right">{{itm.itm.statusIntegracao}}</td>
                    </tr>
                </tbody>
            </table>
             
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>



