<div class="row" ng-controller="EstoqueCtrl as estoque">

    <div class="form-group col-md-12 col-sm-12" ng-show="estoque.itemSelecionado.bloqAtualizaPrecoAutoErp">
        <div class="alert alert-danger" role="alert">Produto bloqueado para importa&ccedil;&atilde;o do ERP</div>

    </div>

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Informações da integração</h3>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeTabEstoque">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th style="width: 120px">C&oacute;digo</th>
                                    <th>Nome</th>
                                    <th style="width: 200px">&nbsp;</th>
                                    <th style="width: 200px">&nbsp;</th>
                                    <th style="width: 100px">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control input-xs" ng-model="estoque.paramConsulta.code" id="loteIni" name="loteIni">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control input-xs" ng-model="estoque.paramConsulta.desc" id="loteFim" name="loteFim">
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="estoque.paramConsulta.isEstoqueZero" id="isEstoqueZero" name="isEstoqueZero">Estoque zerado
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" ng-model="estoque.paramConsulta.isPrecoZero" id="isPrecoZero" name="isPrecoZero">Pre&ccedil;o zerado
                                            </label>
                                        </div>

                                    </td>
                                    <td>
                                        <button id="btnSearch" type="button" ng-click="estoque.searchProduto()" class="btn btn-primary">Pesquisar
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Resultado da pesquisa</h3>
                            </div>
                            <table class="table table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th style="width: 100px">Codigo</th>
                                    <th style="width: 200px">Ean do Produto</th>
                                    <th>Descri&ccedil;&atilde;o</th>
                                    <th style="width: 200px">Estoque</th>
                                    <th style="width: 200px">Pre&ccedil;o</th>
                                    <th style="width: 200px">Pre&ccedil;o oferta</th>
                                    <th style="width: 95px">Ação</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="itm in estoque.itens.slice((estoque.currentPage - 1) * 15, estoque.currentPage * 15)">
                                    <td>{{itm.produto.codigo}}</td>
                                    <td>{{itm.produto.ean}}</td>
                                    <td>{{itm.produto.descricao}}</td>
                                    <td>{{itm.quantidade}}</td>
                                    <td>{{itm.precoVenda|currency:'':2}}</td>
                                    <td>{{itm.precoOferta|currency:'':2}}</td>

                                    <td>
                                        <button class="btn btn-warning btn-sm" ng-click="estoque.select(itm)"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-danger btn-sm" ng-click="estoque.askDelete(itm)"><i class="fa fa-remove"></i></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="panel-footer text-center">
                                <ul uib-pagination total-items="estoque.itens.length" ng-model="estoque.currentPage" max-size="15" class="pagination-sm" items-per-page="15"></ul>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>{{estoque.itemSelecionado.produto.codigo}}-{{estoque.itemSelecionado.produto.descricao}}</h2>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Altera&ccedil;&atilde;o de estoque e
                                                    pre&ccedil;o</h3>
                                            </div>
                                            <div class="panel-body">

                                                <div class="checkbox col-md-12 col-sm-12">
                                                    <label>
                                                        <input type="checkbox" ng-model="estoque.itemSelecionado.bloqAtualizaPrecoAutoErp">
                                                        Bloqueado para importa&ccedil;&atilde;o pre&ccedil;o do ERP
                                                    </label>
                                                </div>

                                                <div class="form-group col-md-4 col-sm-6">
                                                    <label for="produto_id">ID do produto</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" placeholder="ID do produto" ng-model="estoque.itemSelecionado.produto.id" id="produto_id" nome="produto_id">
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6">
                                                    <label for="quantidade">Quantidade</label>
                                                    <input type="text" class="form-control input-sm" placeholder="Quantidade" ng-model="estoque.itemSelecionado.quantidade" id="quantidade" nome="quantidade">
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6">
                                                    <label for="precoVenda">Preço Venda</label>
                                                    <input type="text" class="form-control input-sm" placeholder="Preço Venda" ng-model="estoque.itemSelecionado.precoVenda" id="precoVenda" nome="precoVenda">
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6">
                                                    <label for="precoOferta">Preço Oferta</label>
                                                    <input type="text" class="form-control input-sm" placeholder="Preço oferta" ng-model="estoque.itemSelecionado.precoOferta" id="precoOferta" nome="precoOferta">
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6">
                                                    <label for="percDesconto">Perc Desconto</label>
                                                    <input type="text" class="form-control input-sm" placeholder="Percentual Desconto" ng-model="estoque.itemSelecionado.percDesconto" id="percDesconto" nome="percDesconto">
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6">
                                                    <label for="valorDesconto">Valor do Desconto</label>
                                                    <input type="text" class="form-control input-sm" placeholder="Valor do Desconto" ng-model="estoque.itemSelecionado.valorDesconto" id="valorDesconto" nome="valorDesconto">
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3">

                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">&Uacute;ltima integracao de estoque</h3>
                                            </div>
                                            <div class="panel-body">

                                                <div class="checkbox col-md-12 col-sm-12">
                                                    Informa&ccedil;&otilde;es da &uacute;ltima integra&ccedil;&atilde;o
                                                </div>
                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="statusIntegracaoEstoque">Status Estoque</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.statusIntegracaoEstoque}}" id="statusIntegracaoEstoque" nome="statusIntegracaoEstoque">
                                                </div>

                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="dataUltimaIntegracaoEstoque">&Uacute;ltima
                                                        integracao</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.dataUltimaIntegracaoEstoque | date : 'dd/MM/yyyy HH:ss:mm'}}" id="dataUltimaIntegracaoEstoque" nome="dataUltimaIntegracaoEstoque">
                                                </div>

                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="quantidadeIntegrado">Quantidade integrada</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.quantidadeIntegrado}}" id="quantidadeIntegrado" nome="quantidadeIntegrado">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">

                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">&Uacute;ltimo pre&ccedil;o de estoque</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="checkbox col-md-12 col-sm-12">
                                                    Informa&ccedil;&otilde;es da &uacute;ltima integra&ccedil;&atilde;o
                                                </div>
                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="statusIntegracaoPreco">Status Pre&ccedil;o</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.statusIntegracaoPreco}}" id="statusIntegracaoPreco" nome="statusIntegracaoPreco">
                                                </div>

                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="dataUltimaIntegracaoPreco">&Uacute;ltima
                                                        integracao</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.dataUltimaIntegracaoPreco | date : 'dd/MM/yyyy HH:ss:mm'}}" id="dataUltimaIntegracaoPreco" nome="dataUltimaIntegracaoPreco">
                                                </div>

                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="precoVendaIntegrado">Vlr. venda integrado</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.precoVendaIntegrado|currency:'':2}}" id="precoVendaIntegrado" nome="precoVendaIntegrado">
                                                </div>

                                                <div class="form-group col-md-6 col-sm-6">
                                                    <label for="precoOfertaIntegrado">Vlr. oferta integrado</label>
                                                    <input type="text" disabled="disabled" class="form-control input-sm disabled" value="{{estoque.itemSelecionado.precoOfertaIntegrado|currency:'':2}}" id="precoOfertaIntegrado" nome="precoOfertaIntegrado">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="estoque.clear()" class="btn btn-warning">Cancelar
                                </button>
                                <button type="button" ng-click="estoque.save()" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>


            </div>

        </div>
    </div>

</div>



