<div class="row" ng-controller="SubCategoriaCtrl as categoria" ng-init="categoria.initSubCategorias()">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Sub-categoria</h3>
            </div>
            <div class="panel-body">
                <uib-tabset active="activeTabSubCategoria">
                    <uib-tab index="0" heading="Pesquisa">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-hover table-condensed">
                                    <thead>
                                        <tr>

                                            <th style="width: 100px">ID</th>
                                            <th style="width: 100px">Código</th>
                                            <th style="width: 200px">Departamento</th>
                                            <th style="width: 200px">Categoria</th>
                                            <th>Descri&ccedil;&atilde;o</th>
                                            <th style="width: 200px">Status Integra&ccedil;&atilde;o</th>
                                            <th style="width: 95px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="itm in categoria.itens">

                                            <td>{{itm.id}}</td>
                                            <td>{{itm.codigo}}</td>
                                            <td>{{itm.categoriaPai.categoriaPai.descricao}}</td>
                                            <td>{{itm.categoriaPai.descricao}}</td>
                                            <td>{{itm.descricao}}</td>
                                            <td>{{itm.statusIntegracao}}</td>
                                            <td>
                                                <button class="btn btn-warning btn-sm" ng-click="categoria.select(itm)"><i class="fa fa-edit"></i></button>
                                                <button class="btn btn-danger btn-sm" ng-click="categoria.askDelete(itm)"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Manuten&ccedil;&atilde;o">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="departametno">Departamento</label>
                                    <select type="text" id="departametno" ng-change="categoria.selectCategoriaByDept()" class="form-control input-sm" ng-options="item as item.descricao for item in categoria.departamentos track by item.id" ng-model="categoria.departamento"></select>
                                </div> 

                                <div class="form-group col-md-6 col-sm-6">
                                    <label for="categoria">Categoria</label>
                                    <select type="text" id="categoria" class="form-control input-sm" ng-options="item as item.descricao for item in categoria.categorias track by item.id" ng-model="categoria.itemSelecionado.categoriaPai"></select>
                                </div> 

                                <div class="form-group col-md-2 col-sm-6">
                                    <label for="codigo">C&oacute;digo da sub-categoria</label>
                                    <input type="text" class="form-control input-sm" placeholder="Codigo da categoria" ng-model="categoria.itemSelecionado.codigo" id="codigo" name="codigo">
                                </div>

                                <div class="form-group col-md-10 col-sm-6">
                                    <label for="descricao">Nome da sub-categoria</label>
                                    <input type="text" class="form-control input-sm" placeholder="Nome da categoria" ng-model="categoria.itemSelecionado.descricao" id="descricao" name="descricao">
                                </div>

                                <div class="form-group col-md-2 col-sm-4" ng-show="categoria.itemSelecionado.id">
                                    <label for="statusIntegracao">Status Integracao</label>
                                    <input type="text" class="form-control input-sm" disabled="disabled" ng-model="categoria.itemSelecionado.statusIntegracao" id="statusIntegracao" name="statusIntegracao">
                                </div>

                            </div>
                            <div class="panel-footer text-right">
                                <button type="button" ng-click="categoria.clear()" class="btn btn-warning">Cancelar</button>
                                <button type="button" ng-click="categoria.save()" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
