<div class="row" ng-controller="JobLogCtrl as $ctrl" ng-init="$ctrl.init()">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{$ctrl.job}}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 80px" class="text-right">ID</th>
                            <th style="width: 350px">Job</th>
                            <th style="width: 160px" class="text-left">Inicio</th>
                            <th style="width: 160px" class="text-left">Fim</th>
                            <th style="width: 120px" class="text-center">Status</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in $ctrl.itens.slice(($ctrl.currentPage - 1) * 25, $ctrl.currentPage * 25)">
                            <td class="text-right">{{itm.id}}</td>
                            <td>{{itm.jobName}}</td>
                            <td class="text-left">{{itm.dataCadastro| date : "dd/MM/yyyy HH:ss:mm"}}</td>
                            <td class="text-left">{{itm.dataTermino| date : "dd/MM/yyyy HH:ss:mm"}}</td>
                            <td class="text-center">{{itm.statusJob}}</td>
                            <td>{{itm.messagem}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <ul uib-pagination total-items="$crlt.itens.length" ng-model="$crlt.currentPage" max-size="15" class="pagination-sm" items-per-page="25"></ul>
            </div>
        </div>
    </div>


</div>



