<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				Pedido de pagamento <small></small>
			</h1>
		</div>
	</div>
</div>
<div class="row" ng-controller="PedidoPagamentoCtrl as pedidoPagamento">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Cadastro</h3>
			</div>
			<div class="panel-body">
				<div class="form-group col-md-2 col-sm-6">
					<label for="idpedido">ID do pedido</label> <input type="text" class="form-control input-sm" placeholder="ID do pedido" ng-model="pedidoPagamento.itemSelecionado.pedido" id="idpedido" nome="idpedido">
				</div>
				<div class="form-group col-md-4 col-sm-6">
					<label for="cep">Tipo</label> <input type="text" class="form-control input-sm" placeholder="Tipo" ng-model="pedidoPagamento.itemSelecionado.tipo" id="tipo" nome="tipo">
				</div>
				<div class="form-group col-md-4 col-sm-6">
					<label for="cep">Valor</label> <input type="text" class="form-control input-sm" placeholder="Valor" ng-model="pedidoPagamento.itemSelecionado.valor" id="valor" nome="valor">
				</div>
				<div class="form-group col-md-4 col-sm-6">
					<label for="cep">Autorização</label> <input type="text" class="form-control input-sm" placeholder="Autorização" ng-model="pedidoPagamento.itemSelecionado.valor" id="autorizacao" nome="autorizacao">
				</div>
			</div>
			<div class="panel-footer text-right">
				<button type="button" ng-click="pedidoPagamento.save()" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Pedidos</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Tipo</th>
							<th>Valor</th>
							<th>Autorização</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="itm in pedidoPagamento.itens">
							<td>{{itm.pedido}}</td>
							<td>{{itm.tipo}}</td>
							<td>{{itm.valor}}</td>
							<td>{{itm.autorizacao}}</td>
							<td>
								<button class="btn btn-warning btn-sm" ng-click="pedidoPagamento.select(itm)">
									<i class="fa fa-edit"></i>
								</button>
								<button class="btn btn-danger btn-sm" ng-click="pedidoPagamento.askDelete(itm)">
									<i class="fa fa-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>