<div class="row">
	<div class="col-md-12">
		<div class="page-header">
			<h1>
				Pedido <small>Produto</small>
			</h1>
		</div>
	</div>
</div>
<div class="row" ng-controller="PedidoProdutoCtrl as pedidoProduto">
	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Cadastro</h3>
			</div>
			<div class="panel-body">
				<div class="form-group col-md-2 col-sm-6">
					<label for="quantidade">Quantidade</label> <input type="text" class="form-control input-sm" placeholder="Quantidade" ng-model="pedidoProduto.itemSelecionado.quantidade" id="quantidade" nome="quantidade">
				</div>
				<div class="form-group col-md-4 col-sm-6">
					<label for="valorUnitario">Valor Unitario</label> <input type="text" class="form-control input-sm" placeholder="Valor Unitario" ng-model="pedidoProduto.itemSelecionado.valorUnitario" id="valorunitario" nome="valorUnitario">
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<label for="percDesconto">Percentual de Desconto</label> <input type="text" class="form-control input-sm" placeholder="Percentual de Desconto" ng-model="pedidoProduto.itemSelecionado.percDesconto" id="percDesconto" nome="percDesconto">
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<label for="valorLiquido">Valor Liquido</label> <input type="text" class="form-control input-sm" placeholder="Valor do Desconto" ng-model="pedidoProduto.itemSelecionado.valorLiquido" id="valorLiquido" nome="valorLiquido">
				</div>
				<div class="form-group col-md-6 col-sm-6">
					<label for="valorLiquido">Valor Total</label> <input type="text" class="form-control input-sm" placeholder="Valor do Desconto" ng-model="pedidoProduto.itemSelecionado.valorTotal" id="valorTotal" nome="valorTotal">
				</div>
			</div>
			<div class="panel-footer text-right">
				<button type="button" ng-click="pedidoProduto.save()" class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Pedidos de produtos</h3>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-condensed">
					<thead>
						<th>ID</th>
						<th>Quantidade</th>
						<th>Valor Unitario</th>
						<th>Percentual de Desconto</th>
						<th>Valor de Desconto</th>
						<th>Valor Liquido</th>
						<th>Valor Total</th>
					</thead>
					<tbody>
						<tr ng-repeat="itm in pedidoProduto.itens">
							<td>{{itm.id}}</td>
							<td>{{itm.quantidade}}</td>
							<td>{{itm.valorUnitario}}</td>
							<td>{{itm.percDesconto}}</td>
							<td>{{itm.valorDesconto}}</td>
							<td>{{itm.valorLiquido}}</td>
							<td>{{itm.valorTotal}}</td>
							<td>
								<button class="btn btn-warning btn-sm" ng-click="pedidoProduto.select(itm)">
									<i class="fa fa-edit"></i>
								</button>
								<button class="btn btn-danger btn-sm" ng-click="pedidoProduto.askDelete(itm)">
									<i class="fa fa-remove"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>