<div class="row" ng-controller="PrecificacaoCtrl as p">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pre-sele&ccedil;&atilde;o</h3>
                
                <span class="pull-right"><button class="btn btn-xs btn-default" ng-click="p.openPainelConsulta()"><i class="fa fa-search"></i> Abrir painel de consulta</button></span>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-condensed">
                    <thead>
                        <tr>

                            <th style="width: 200px">EAN</th>
                            <th style="width: 100px" class="text-right">Código</th>
                            <th>Descri&ccedil;&atilde;o</th>
                            <th style="width: 200px" class="text-right">Pre&ccedil;o</th>
                            <th style="width: 200px" class="text-right">Valor oferta</th>
                            <th style="width: 200px" class="text-right">Novo Pre&ccedil;o</th>
                            <th style="width: 200px" class="text-right">Novo Valor oferta</th>
                            <th style="width: 95px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="itm in p.itens">

                            <td>{{itm.it.produto.ean}}</td>
                            <td class="text-right">{{itm.it.produto.codigo}}</td>
                            <td>{{itm.it.produto.descricao}}</td>
                            <td class="text-right">{{itm.it.precoVenda|currency:'':2}}</td>
                            <td class="text-right">{{itm.it.precoOferta|currency:'':2}}</td>
                            <td class="text-right">
                                <input type="text" class="form-control input-sm text-right" placeholder="0.00" ng-model="itm.precoVenda" id="precoVenda" nome="precoVenda">
                            </td>
                            <td class="text-right"><input type="text" class="form-control input-sm text-right" placeholder="0.00" ng-model="itm.precoOferta" id="precoOferta" nome="precoOferta"></td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="p.askDelete(itm)"><i class="fa fa-remove"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-right">
                <button type="button" ng-click="p.salvarAlteracaoPreco()" class="btn btn-primary">Alterar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Lista de produto</h3>
        </div>
        <div class="modal-body" id="modal-body">
             <form role="form">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label for="produtoNomeSearch" class="label-left">Nome</label>
                            <input id="produtoNomeSearch" type="text" class="form-control disabled" name="produtoNomeSearch" ng-model="$ctrl.paramConsulta.desc">        
                        </div>
                    </div>
                    <div class="col-md-2">
                    <label>&nbsp;</label>
                        <button ng-click="$ctrl.pesquisar()" class="btn btn-warning btn-block">
                            <i class="fa fa-btn fa-check"></i> Consultar
                        </button>
                    </div>
                </div>
             
             </form>
             <table class="table">
                <thead>
                    <tr>
                        <th>Check All <input type="checkbox" ng-model="$ctrl.selectedAll" ng-click="$ctrl.checkAll()" /></th>
                        <th width="200">Código Barra</th>
                        <th>Nome</th>
                        <th width="200">Status integracao</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itm in $ctrl.items">
                        <td><input type="checkbox" ng-model="itm.selected" /></td>
                        <td>{{itm.itm.ean}}</td>
                        <td>{{itm.itm.descricao}}</td>
                        <td class="text-right">{{itm.itm.statusIntegracao}}</td>
                    </tr>
                </tbody>
            </table>
             
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
